# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore build and dist directories
build/
dist/

# Ignore package-lock.json file
package-lock.json

# Ignore yarn error log file
yarn-error.log

# Ignore yarn debug log file
yarn-debug.log